.city {
    transition: 1s;
    font-size: 18px;
    color: white;
    font-family: "Montserrat", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    // margin-right: 50px;
}
.city:hover{
    color: rgba(255, 0, 183, 1);
    box-shadow: 0 0px px rgba(102, 221, 5, 0.2);
}
