.city {
    font-size: 18px;
    color: white;
    font-family: "Montserrat", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    // margin-right: 50px;
}