.navibar {
 @media (max-width: 1920px) {
  z-index: 10000;
  position: sticky;

   
  .navibar-block{
      position: fixed;
      display: flex;
      width: 100%;
      height: 100px;
      // background-color: hsla(254, 45%, 35%, 1);
      .navibar-block-left{
        padding: 0 15px;
          display: flex;
          justify-content: left;
          // padding-left: 100px;
          align-items: center;
          width: 30%;
          .logo-luna{
              height: 100px;
          }
      }
  
      .navibar-block-right{
          // padding-right: 130px;
          width: 70%;
          display: flex;
          justify-content: end;
          /* margin-right: 100px; */
          align-items: center;
       
      }
  
      .navibar-block-right-info{
          display: flex;
          gap: 40px;
          .blue-l-navi{
            transition: 1s;
          }
          .blue-l-navi:hover{
            transition: all ease 1s;
            transform: translateY(-1px);
            text-shadow: #000000 1px 0 10px;
            box-shadow: 2px 1px 20px 0px rgb(110, 4, 80);
                
         }
     
      }
   
  }
 }
 @media (max-width: 1969px) {
  z-index: 10000;
  position: sticky;

   
  .navibar-block{
      position: fixed;
      display: flex;
      width: 100%;
      height: 100px;
      // background-color: hsla(254, 45%, 35%, 1);
      .navibar-block-left{
        padding: 0 95px;
          display: flex;
          justify-content: left;
          // padding-left: 100px;
          align-items: center;
          width: 30%;
          .logo-luna{
              height: 100px;
          }
      }
  
      .navibar-block-right{
          // padding-right: 130px;
          width: 70%;
          padding-right: 0px;
          display: flex;
          justify-content: end;
          /* margin-right: 100px; */
          align-items: center;
       
      }
  
      .navibar-block-right-info{
          display: flex;
          gap: 40px;
          .blue-l-navi{
            transition: 1s;
          }
          .blue-l-navi:hover{
            transition: all ease 1s;
            transform: translateY(-1px);
            text-shadow: #000000 1px 0 10px;
            box-shadow: 2px 1px 20px 0px rgb(110, 4, 80);
                
         }
     
      }
   
  }
 }
 @media (max-width: 1000px) {
  z-index: 10000;
  position: sticky;

   
  .navibar-block{
      position: fixed;
      display: flex;
      width: 100%;
      height: 100px;
      // background-color: hsla(254, 45%, 35%, 1);
      .navibar-block-left{
        padding: 0 28px;
          display: flex;
          justify-content: left;
          // padding-left: 100px;
          align-items: center;
          width: 30%;
          .logo-luna{
              height: 100px;
          }
      }
  
      .navibar-block-right{
        margin-right: 100px;
          width: 70%;
          padding-right: 0px;
          display: flex;
          justify-content: end;
          /* margin-right: 100px; */
          align-items: center;
       
      }
  
      .navibar-block-right-info{
          display: flex;
          gap: 40px;
          .blue-l-navi{
            transition: 1s;
          }
          .blue-l-navi:hover{
            transition: all ease 1s;
            transform: translateY(-1px);
            text-shadow: #000000 1px 0 10px;
            box-shadow: 2px 1px 20px 0px rgb(110, 4, 80);
                
         }
     
      }
   
  }
 }
 @media (max-width: 740px) {
  z-index: 10000;
  position: sticky;
  .navibar-block{
      position: fixed;
      display: flex;
      width: 100%;
      height: 100px;
      // background-color: hsla(254, 45%, 35%, 1);
      .navibar-block-left{
          padding-bottom: 10px;
          display: flex;
          justify-content: left;
          padding-left: 11px;
          align-items: center;
          width: 30%;
          .logo-luna{
              height: 100px;
          }
      }
  
      .navibar-block-right{
          // padding-right: 30px;
          width: 70%;
          display: flex;
          justify-content: end;
          /* margin-right: 100px; */
          align-items: center;
      }
  
      .navibar-block-right-info{
          display: flex;
          gap: 40px;
      }
   
  }
 }

@media (max-width: 431px) { 
    .navibar-block .navibar-block-left {
      transition: 1s;
      padding-left: 15px;
      .logo-luna{
        transition: 1s;
        height: 80px;
      }
      .navibar .navibar-block .navibar-block-left {
        padding-bottom: 10px;
        display: flex;
        justify-content: left;
        padding-left: 50px;
        align-items: center;
        width: 30%;
    }
  
  }
    .navibar-block .navibar-block-right {
      width: 100%;
      transition: 1s;
      // padding-right: 27px;
      padding: 0 140px;
      
  
         .menu {
          padding-top: 15px;
            padding-left: 228px;
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: baseline;
  
          a{
     
  
              font-size: 18px;
              transition: 1s;
          }
      }
      .nav .side-info {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-left: 222px;
    }
    .nav .blue-l-navi {
      margin-left: 100px;
  }
  .nav .city {
    transition: 1s;
    margin-top: 29px;
    justify-content: end;
    padding-right: 231px;
  }
  }
  
  }
  @media (max-width: 390px) {
    .navibar-block .navibar-block-left {
      transition: 1s;
      padding-left: 15px;
      .logo-luna{
        transition: 1s;
        height: 80px;
      }
      .navibar .navibar-block .navibar-block-left {
        padding-bottom: 10px;
        display: flex;
        justify-content: left;
        padding-left: 50px;
        align-items: center;
        width: 30%;
    }
  
  }
    .navibar-block .navibar-block-right {
      transition: 1s;
      // padding-right: 27px;
  
         .menu {
            padding-top: 19px;
            padding-left: 262px;
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: baseline;
  
          a{
     
  
              font-size: 15px;
              transition: 1s;
          }
      }
      .nav .side-info {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-left: 288px;
    }
    .nav .blue-l-navi {
      margin-left: 253px;
      height: 50px;
      width: 35%;
  }
  .nav .city {
    transition: 1s;
    margin-top: 18px;
    justify-content: end;
    padding-right: 201px;
  }
  }
  }
  @media (max-width: 375px) { 
    .navibar-block .navibar-block-left {
      transition: 1s;
      padding-left: 15px;
      .logo-luna{
        transition: 1s;
        height: 80px;
      }
      .navibar .navibar-block .navibar-block-left {
        padding-bottom: 10px;
        display: flex;
        justify-content: left;
        padding-left: 50px;
        align-items: center;
        width: 30%;
    }
  
  }
    .navibar-block .navibar-block-right {
      transition: 1s;
      // padding-right: 27px;
  
         .menu {
            padding-top: 19px;
            padding-left: 262px;
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: baseline;
  
          a{
     
  
              font-size: 15px;
              transition: 1s;
          }
      }
      .nav .side-info {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-left: 288px;
    }
    .nav .blue-l-navi {
      margin-left: 253px;
      height: 50px;
      width: 35%;
  }
  .nav .city {
    transition: 1s;
    margin-top: 18px;
    justify-content: end;
    padding-right: 201px;
  }
  }
  
  }
  @media (max-width: 360px) { 
    .navibar-block .navibar-block-left {
      transition: 1s;
      padding-left: 15px;
      .logo-luna{
        transition: 1s;
        height: 80px;
      }
      .navibar .navibar-block .navibar-block-left {
        padding-bottom: 10px;
        display: flex;
        justify-content: left;
        padding-left: 50px;
        align-items: center;
        width: 30%;
    }
  
  }
    .navibar-block .navibar-block-right {
      transition: 1s;
      // padding-right: 27px;
  
         .menu {
            padding-top: 19px;
            padding-left: 278px;
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: baseline;
  
          a{
     
  
              font-size: 15px;
              transition: 1s;
          }
      }
      .nav .side-info {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-left: 320px;
    }
    .nav .blue-l-navi {
      margin-left: 138px;
      height: 50px;
      width: 35%;
  }
  .nav .city {
    transition: 1s;
    margin-top: 18px;
    justify-content: end;
    padding-right: 184px;
  }
  }
  
  }
}



