.shadow-word {
    color: rgb(245, 131, 245);
    text-shadow: 1px 1px 0px #ff00ec;
}

.aboutUs-block{
    height: fit-content;
  .header-block{
    padding-top: 20px;
  }
   @media (max-width: 2400px) {
    .mobile-girl{
        display: none;
    }
    .aboutUs-block-main{
        transition: 1s;
        .button-play{}
       button{
        cursor: pointer;
        background: url("./assets/video.png");
        border: none;
        background-position: center;
        transition: 1s;
        height: 210px;
        width: 210px;
        text-align: center;
        outline: #000;
        color: #fff;
        font-size: 15px;
       }
    }
    .aboutUs-block-main{
        .button-play{

            button:hover {
                transition: 1s;
                background: url("./assets/video_hover.png");
                border: none;
                background-position: center;
                transition: 1s;
                height: 210px;
                width: 210px;
                text-align: center;
                outline: #000;
                color: #fff;
                font-size: 15px;
            }
        }
    }
.shadow-word {
    color: rgb(245, 131, 245);
    text-shadow: 1px 1px 0px #ff00ec;
    
}
height: fit-content;
    background: url("./assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: 358px 94px;
    background-size: 1233px 846px;
    position: inherit;
    z-index: 99999;

    .button-play{
        transform: rotate(0deg);
        position: absolute;
        right: 00px;
        bottom: 255px;
    }
    .aboutUs-block-main{
        position: relative;
        // font-family: "Montserrat";
        // font-weight: initial;
        height: 70%;
        width: 50%;
        padding-bottom: 170px;
        padding-top: 10px;
        margin-left: 400px;
        font-size: 20px;
        
        .main-top{
            padding-top: 10px;
            width: 100%;
            height: 50%;
            .main-top-text{
                height: 40%;;
                padding-right: 350px;
                color: white;
                font-weight: lighter;
            }
        }
        .main-bottom{
            display: block;
            width: 100%;
            height: 40%;
           .main-bottom-text{
            gap: 20px;
            display: flex;
            img {
                height: 80px;
                width: 80px;
                align-items: center;
            }
            .text{
                p{
                    margin-block-start: 0px;
                    margin-block-end: 0px;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                }
                padding-bottom: 10px;
                padding-right: 335px;
                display: flex;
                color: white;
            }
           }
        }
    }
   }
   @media (max-width: 1720px) {
    height: fit-content;
        background: url("./assets/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 245px 185px;
        background-size: 1155px 717px;
            position: inherit;
        position: inherit;
        z-index: 99999;
    
        .button-play{
            transform: rotate(0deg);
            position: absolute;
            right: 525px;
            bottom: 152px;
        }
        .button-play:hover{
            svg{
                transform: rotate(0deg);
                fill: #ff00ec;
            }
          
           a {
       
              
            }
       
                
        
        }
    
        .aboutUs-block-main{
            // font-family: "Montserrat";
            // font-weight: initial;
            height: 70%;
            width: auto;
            margin-bottom: 0px;
            padding-top: 0px;
            margin-left: 0px;
            font-size: 20px;
            padding: 59px 156px;
            
            .main-top{
                padding-top: 10px;
                width: 50%;
                height: 50%;
                .main-top-text{
                    height: 40%;;
                    padding-right: 36px;
                    color: white;
                    font-weight: lighter;
                }
            }
            .main-bottom{
                display: block;
                width: 50%;
                height: 40%;
               .main-bottom-text{
                gap: 20px;
                display: flex;
                img {
                    height: 80px;
                    width: 80px;
                    align-items: center;
                }
                .text{
                    p{
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }
                    padding-bottom: 10px;
                    padding-right: 0px;
                    display: flex;
                    color: white;
                }
               }
            }
        }
       }
       @media (max-width: 1440px) {
        height: fit-content;
            background: url("./assets/bg.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 68px 202px;
            background-size: 1162px 855px;
            position: inherit;
            z-index: 99999;
        
            .button-play{
                transform: rotate(0deg);
                position: absolute;
                right: 366px;
                bottom: 217px;
            }
            .button-play:hover{
                svg{
                    transform: rotate(0deg);
                    fill: #ff00ec;
                }
              
               a {
           
                  
                }
           
                    
            
            }
            .aboutUs-block-main{
                // font-family: "Montserrat";
                // font-weight: initial;
                height: 70%;
                width: auto;
                margin-bottom: 0px;
                padding-top: 0px;
                margin-left: 0px;
                font-size: 20px;
                padding: 59px 156px;
                
                .main-top{
                    padding-top: 10px;
                    width: 50%;
                    height: 50%;
                    .main-top-text{
                        height: 40%;;
                        padding-right: 36px;
                        color: white;
                        font-weight: lighter;
                    }
                }
                .main-bottom{
                    display: block;
                    width: 50%;
                    height: 40%;
                   .main-bottom-text{
                    gap: 20px;
                    display: flex;
                    img {
                        height: 80px;
                        width: 80px;
                        align-items: center;
                    }
                    .text{
                        p{
                            margin-block-start: 0px;
                            margin-block-end: 0px;
                            margin-inline-start: 0px;
                            margin-inline-end: 0px;
                        }
                        padding-bottom: 10px;
                        padding-right: 0px;
                        display: flex;
                        color: white;
                    }
                   }
                }
            }
           }
       @media (max-width: 1359px) {
        height: fit-content;
            background: url("./assets/bg.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 68px 202px;
            background-size: 1162px 855px;
            object-fit: cover;
            position: inherit;
            z-index: 99999;
            background-attachment: inherit;
        
            .button-play{
                transform: rotate(0deg);
                position: absolute;
                right: 211px;
                bottom: 121px;
            }
            .button-play:hover{
                svg{
                    transform: rotate(0deg);
                    fill: #ff00ec;
                }
              
               a {
           
                  
                }
           
                    
            
            }
       
            .aboutUs-block-main{
                // font-family: "Montserrat";
                // font-weight: initial;
                height: 70%;
                width: auto;
                margin-bottom: 0px;
                padding-top: 0px;
                margin-left: 0px;
                font-size: 20px;
                padding: 59px 33px;

                
                .main-top{
                    padding-top: 10px;
                    width: 50%;
                    height: 50%;
                    .main-top-text{
                        height: 40%;;
                        padding-right: 36px;
                        color: white;
                        font-weight: lighter;
                    }
                }
                .main-bottom{
                    display: block;
                    width: 50%;
                    height: 40%;
                   .main-bottom-text{
                    gap: 20px;
                    display: flex;
                    img {
                        height: 80px;
                        width: 80px;
                        align-items: center;
                    }
                    .text{
                        p{
                            margin-block-start: 0px;
                            margin-block-end: 0px;
                            margin-inline-start: 0px;
                            margin-inline-end: 0px;
                        }
                        padding-bottom: 10px;
                        padding-right: 0px;
                        display: flex;
                        color: white;
                    }
                   }
                }
            }
           }

       @media (max-width: 1125px) {
        .header-block{
            h1{
                padding-top: 9px;
               font-size:  70px;
            }
            h2{
                margin-top: -236px;
            }
        }
    
        height: fit-content;
        background: url("./assets/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 1200px 950px;
        position: inherit;
        z-index: 99999;
    
        .button-play{
            transform: rotate(0deg);
            position: absolute;
            right: -286px;

                bottom: 121px;
        }
        .button-play:hover{
            svg{
                transform: rotate(0deg);
                fill: #ff00ec;
            }
          
           a {
       
              
            }
       
                
        
        }
     
        .aboutUs-block-main{
            // font-family: "Montserrat";
            // font-weight: initial;
            height: 70%;
            width: 50%;
            margin-bottom: 0px;
            padding-top: 0px;
            margin-left: 63px;
            font-size: 20px;
            margin-top: -32px;
            
            .main-top{
                padding-top: 10px;
                width: 100%;
                height: 50%;
                .main-top-text{
                    height: 40%;;
                    padding-right: 36px;
                    color: white;
                    font-weight: lighter;
                }
            }
            .main-bottom{
                display: block;
                width: 100%;
                height: 40%;
               .main-bottom-text{
                gap: 20px;
                display: flex;
                img {
                    height: 80px;
                    width: 80px;
                    align-items: center;
                }
                .text{
                    p{
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }
                    padding-bottom: 10px;
                    padding-right: 0px;
                    display: flex;
                    color: white;
                }
               }
            }
        }
       }
       @media (max-width: 1046px) {
        .header-block{
            h1{
                padding-top: 9px;
               font-size:  70px;
            }
            h2{
                margin-top: -236px;
            }
        }
    
        background: url("./assets/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 1200px 950px;
        position: inherit;
        z-index: 99999;
    
        .button-play{
            transform: rotate(0deg);
            position: absolute;
            right: 8px;
            bottom: -5px;
        }
        .button-play:hover{
            svg{
                transform: rotate(0deg);
                fill: #ff00ec;
            }
          
           a {
       
              
            }
       
                
        
        }
     
        .aboutUs-block-main{
            // font-family: "Montserrat";
            // font-weight: initial;
            height: 70%;
            width: 50%;
            margin-bottom: 0px;
            padding-top: 0px;
            margin-left: 63px;
            font-size: 18px;
            margin-top: -32px;
            
            .main-top{
                padding-top: 10px;
                width: 100%;
                height: 50%;
                .main-top-text{
                    height: 40%;;
                    padding-right: 36px;
                    color: white;
                    font-weight: lighter;
                }
            }
            .main-bottom{
                display: block;
                width: 100%;
                height: 40%;
               .main-bottom-text{
                gap: 20px;
                display: flex;
                img {
                    height: 80px;
                    width: 80px;
                    align-items: center;
                }
                .text{
                    p{
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }
                    padding-bottom: 10px;
                    padding-right: 0px;
                    display: flex;
                    color: white;
                }
               }
            }
        }
       }
       @media (max-width: 943px) {
        .header-block{
            padding-top: 20px;
            h1{
                padding-top: 9px;
               font-size:  70px;
            }
            h2{
                margin-top: -236px;
            }
        }
    
        background: url("./assets/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 1200px 950px;
        position: inherit;
        z-index: 99999;
    
        .button-play{
            padding: 0px;
    margin: 0px;
            img{
                height: 481px;
                width: 273px;
            }
            transform: rotate(0deg);
            position: absolute;
            right: 3px;
    bottom: -50px;
        }
        .button-play:hover{
            svg{
                transform: rotate(0deg);
                fill: #ff00ec;
            }
          
           a {
       
              
            }
       
                
        
        }
    
        .aboutUs-block-main{
            // font-family: "Montserrat";
            // font-weight: initial;
            height: 70%;
            width: 70%;
            margin-bottom: 0px;
            padding-top: 0px;
            margin-left: 63px;
            font-size: 17px;
            margin-top: -59px;
            
            .main-top{
                padding-top: 10px;
                width: 100%;
                height: 50%;
                .main-top-text{
                    height: 40%;;
                    padding-right: 36px;
                    color: white;
                    font-weight: lighter;
                }
            }
            .main-bottom{
                display: block;
                width: 100%;
                height: 40%;
               .main-bottom-text{
                gap: 20px;
                display: flex;
                img {
                    height: 80px;
                    width: 80px;
                    align-items: center;
                }
                .text{
                    p{
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }
                    padding-bottom: 10px;
                    padding-right: 0px;
                    display: flex;
                    color: white;
                }
               }
            }
        }
       }
       @media (max-width: 750px) {
        .header-block{
            padding-top: 20px;
            h1{
                padding-top: 9px;
               font-size:  50px;
            }
            h2{
                margin-top: -236px;
            }
        }
    
        background: url("./assets/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 1200px 950px;
        position: inherit;
        z-index: 99999;
    
        .button-play{
            padding: 0px;
    margin: 0px;
            img{
                height: 481px;
                width: 273px;
            }
            transform: rotate(0deg);
            position: absolute;
            right: 3px;
            bottom: 214px;
        }
        .button-play:hover{
            svg{
                transform: rotate(0deg);
                fill: #ff00ec;
            }
          
           a {
       
              
            }
       
                
        
        }
    
        .aboutUs-block-main{
            // font-family: "Montserrat";
            // font-weight: initial;
            height: 70%;
            width: 70%;
            margin-bottom: 0px;
            padding-top: 0px;
            margin-left: 63px;
            font-size: 17px;
            margin-top: -59px;
            
            .main-top{
                padding-top: 10px;
                width: 100%;
                height: 50%;
                .main-top-text{
                    height: 40%;;
                    padding-right: 36px;
                    color: white;
                    font-weight: lighter;
                }
            }
            .main-bottom{
                display: block;
                width: 100%;
                height: 40%;
               .main-bottom-text{
                gap: 20px;
                display: flex;
                img {
                    height: 80px;
                    width: 80px;
                    align-items: center;
                }
                .text{
                    p{
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }
                    padding-bottom: 10px;
                    padding-right: 0px;
                    display: flex;
                    color: white;
                }
               }
            }
        }
       }
       @media (max-width: 690px) {
        height: fit-content;
        .mobile-girl{
            justify-content: center;
            height: 400px;
            display: flex;
            align-items: center;
           background: url('./assets/bg-mobile.png');
           background-size: cover;
           background-position: 10px;
           button{
            cursor: pointer;
            transition: 1s;
            background: url('./assets/video.png');
            border: none;
            background-position: center;
            transition: 1s;
            height: 210px;
            width: 210px;
            text-align: center;
            outline: #000;
            color: #fff;
            font-size: 15px;
           }
           button:hover{
            background: url('./assets/video_hover.png');
            border: none;
            background-position: center;
            transition: 1s;
            height: 210px;
            width: 210px;
            text-align: center;
            outline: #000;
            color: #fff;
            font-size: 15px;
           }
        }
        .header-block{
            
            padding-top: 20px;
            h1{
                padding-top: 9px;
               font-size:  40px;
            }
            h2{
                margin-top: -236px;
            }
        }
    
        background: url("./assets/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 1200px 950px;
        position: inherit;
        z-index: 99999;
    
        .button-play{
            display: none;
            display: flex;
            bottom: -561px;
            left: 110px;
            padding: 0px;
    margin: 0px;
            img{
                height: 481px;
                width: 273px;
            }
            transform: rotate(0deg);
            position: absolute;
            
        }
        .button-play:hover{
            svg{
                transform: rotate(0deg);
                fill: #ff00ec;
            }
          
           a {
       
              
            }
       
                
        
        }
   
        .aboutUs-block-main{
            // font-family: "Montserrat";
            // font-weight: initial;
            justify-content: center;
            height: 50%;
            width: fit-content;
            margin-bottom: 0px;
            padding-top: 0px;
            margin-left: 0px;
            font-size: 17px;
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            padding: 20px 57px;
            .button-play{
                display: none;
            }
            .main-top{
                padding-top: 10px;
                width: 100%;
                height: 50%;
                .main-top-text{
                    height: 40%;;
                    padding-right: 36px;
                    color: white;
                    font-weight: lighter;
                }
            }
            .main-bottom{
                display: block;
                width: 100%;
                height: 40%;
               .main-bottom-text{
                gap: 20px;
                display: flex;
                img {
                    height: 80px;
                    width: 80px;
                    align-items: center;
                }
                .text{
                    p{
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }
                    padding-bottom: 10px;
                    padding-right: 0px;
                    display: flex;
                    color: white;
                }
               }
            }
        }
       }
       @media (max-width: 510px) {
        height: fit-content;
        .mobile-girl{
            justify-content: center;
            height: 400px;
            display: flex;
            align-items: center;
           background: url('./assets/bg-mobile.png');
           background-size: cover;
           background-position: 10px;
           button{
            cursor: pointer;
            transition: 1s;
            background: url('./assets/video.png');
            border: none;
            background-position: center;
            transition: 1s;
            height: 210px;
            width: 210px;
            text-align: center;
            outline: #000;
            color: #fff;
            font-size: 15px;
           }
           button:hover{
            background: url('./assets/video_hover.png');
            border: none;
            background-position: center;
            transition: 1s;
            height: 210px;
            width: 210px;
            text-align: center;
            outline: #000;
            color: #fff;
            font-size: 15px;
           }
        }
        .header-block{
            
            padding-top: 20px;
            h1{
                padding-top: 9px;
               font-size:  40px;
            }
            h2{
                margin-top: -236px;
            }
        }
    
        background: url("./assets/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 55% -600%;
        background-size: 1200px 950px;
        position: inherit;
        z-index: 99999;
    
        .button-play{
            display: none;
            padding: 0px;
    margin: 0px;
            img{
                height: 481px;
                width: 273px;
            }
            transform: rotate(0deg);
            position: absolute;
            right: 3px;
            bottom: 214px;
        }
        .button-play:hover{
            svg{
                transform: rotate(0deg);
                fill: #ff00ec;
            }
          
           a {
       
              
            }
       
                
        
        }
      
        .aboutUs-block-main{
            // font-family: "Montserrat";
            // font-weight: initial;
            justify-content: center;
            height: 50%;
            width: fit-content;
            margin-bottom: 0px;
            padding-top: 0px;
            margin-left: 0px;
            font-size: 17px;
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            padding: 20px 57px;
            
            .main-top{
                padding-top: 10px;
                width: 100%;
                height: 50%;
                .main-top-text{
                    height: 40%;;
                    padding-right: 36px;
                    color: white;
                    font-weight: lighter;
                }
            }
            .main-bottom{
                display: block;
                width: 100%;
                height: 40%;
               .main-bottom-text{
                gap: 20px;
                display: flex;
                img {
                    height: 80px;
                    width: 80px;
                    align-items: center;
                }
                .text{
                    p{
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }
                    padding-bottom: 10px;
                    padding-right: 0px;
                    display: flex;
                    color: white;
                }
               }
            }
        }
       }
       @media (max-width: 461px) {
        height: fit-content;
        .mobile-girl{
            justify-content: center;
            height: 400px;
            display: flex;
            align-items: center;
           background: url('./assets/bg-mobile.png');
           background-size: cover;
           background-position: 10px;
           button{
            cursor: pointer;
            transition: 1s;
            background: url('./assets/video.png');
            border: none;
            background-position: center;
            transition: 1s;
            height: 210px;
            width: 210px;
            text-align: center;
            outline: #000;
            color: #fff;
            font-size: 15px;
           }
           button:hover{
            background: url('./assets/video_hover.png');
            border: none;
            background-position: center;
            transition: 1s;
            height: 210px;
            width: 210px;
            text-align: center;
            outline: #000;
            color: #fff;
            font-size: 15px;
           }
        }
        .header-block{
            
            padding-top: 20px;
            h1{
                display: none;
                padding-top: 0px;
               font-size:  40px;
            }
            h2{
                font-size: 45px;
                margin-top: -136px;
            }
        }
    
        background: url("./assets/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 55% -600%;
        background-size: 1200px 950px;
        position: inherit;
        z-index: 99999;
    
        .button-play{
            display: none;
            padding: 0px;
    margin: 0px;
            img{
                height: 481px;
                width: 273px;
            }
            transform: rotate(0deg);
            position: absolute;
            right: 3px;
            bottom: 214px;
        }
        .button-play:hover{
            svg{
                transform: rotate(0deg);
                fill: #ff00ec;
            }
          
           a {
       
              
            }
       
                
        
        }
        .aboutUs-block-main{
            // font-family: "Montserrat";
            // font-weight: initial;
            justify-content: center;
            height: 50%;
            width: fit-content;
            margin-bottom: 0px;
            padding-top: 0px;
            margin-left: 0px;
            font-size: 17px;
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            padding: 20px 57px;
            
            .main-top{
                padding-top: 10px;
                width: 100%;
                height: 50%;
                .main-top-text{
                    height: 40%;;
                    padding-right: 36px;
                    color: white;
                    font-weight: lighter;
                }
            }
            .main-bottom{
                display: block;
                width: 100%;
                height: 40%;
               .main-bottom-text{
                gap: 20px;
                display: flex;
                img {
                    height: 80px;
                    width: 80px;
                    align-items: center;
                }
                .text{
                    p{
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }
                    padding-bottom: 10px;
                    padding-right: 0px;
                    display: flex;
                    color: white;
                }
               }
            }
        }
       }
       @media (max-width: 440px) {
        height: fit-content;
        .mobile-girl{
            justify-content: center;
            height: 400px;
            display: flex;
            align-items: center;
           background: url('./assets/bg-mobile.png');
           background-size: cover;
           background-position: -23px -69px;
           background-size: 456px 540px;
           button{
            cursor: pointer;
            transition: 1s;
            background: url('./assets/video.png');
            border: none;
            background-position: center;
            transition: 1s;
            height: 210px;
            width: 210px;
            text-align: center;
            outline: #000;
            color: #fff;
            font-size: 15px;
            background-size: 275px 247px;
           }
           button:hover{
            background: url('./assets/video_hover.png');
            border: none;
            background-position: center;
            transition: 1s;
            height: 210px;
            width: 210px;
            text-align: center;
            outline: #000;
            color: #fff;
            font-size: 15px;
            background-size: 275px 247px;
           }
        }
        .header-block{
            padding-top: 20px;
            h1{
                padding-top: 9px;
                font-size: 25px;
            }
            h2{
                margin-top: -96px;
            }
        }
    
        background: url("./assets/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 55% -600%;
        background-size: 1200px 950px;
        position: inherit;
        z-index: 99999;
    
        .button-play{
            display: none;
            padding: 0px;
    margin: 0px;
            img{
                height: 481px;
                width: 273px;
            }
            transform: rotate(0deg);
            position: absolute;
            right: 3px;
            bottom: 214px;
        }
        .button-play:hover{
            svg{
                transform: rotate(0deg);
                fill: #ff00ec;
            }
          
           a {
       
              
            }
       
                
        
        }
        .aboutUs-block-main{
            // font-family: "Montserrat";
            // font-weight: initial;
            justify-content: center;
            height: 50%;
            width: fit-content;
            margin-bottom: 0px;
            padding-top: 0px;
            margin-left: 0px;
            font-size: 17px;
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            padding: 20px 57px;
            
            .main-top{
                padding-top: 10px;
                width: 100%;
                height: 50%;
                .main-top-text{
                    height: 40%;;
                    padding-right: 36px;
                    color: white;
                    font-weight: lighter;
                }
            }
            .main-bottom{
                display: block;
                width: 100%;
                height: 40%;
               .main-bottom-text{
                gap: 20px;
                display: flex;
                img {
                   height: 65px;
                    width: 65px;
                    align-items: center;
                }
                .text{
                    width: 70%;
                    p{
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }
                    padding-bottom: 10px;
                    padding-right: 0px;
                    display: flex;
                    color: white;
                }
               }
            }
        }
       }
       @media (max-width: 375px) {
        height: fit-content;
        .mobile-girl{
            justify-content: center;
            height: 400px;
            display: flex;
            align-items: center;
           background: url('./assets/bg-mobile.png');
        //    background-size: 100% 100%;
           background-repeat: no-repeat;
           background-position: -26px -69px;
           background-size: 422px 540px;
           button{
            display: none;
            cursor: pointer;
            transition: 1s;
            background: url('./assets/video.png');
            border: none;
            background-position: center;
            transition: 1s;
            height: 210px;
            width: 210px;
            text-align: center;
            outline: #000;
            color: #fff;
            font-size: 15px;
            background-size: 275px 247px;
           }
           button:hover{
            background: url('./assets/video_hover.png');
            border: none;
            background-position: center;
            transition: 1s;
            height: 210px;
            width: 210px;
            text-align: center;
            outline: #000;
            color: #fff;
            font-size: 15px;
            background-size: 275px 247px;
           }
        }
        .header-block{
            padding-top: 2px;
            h1{
                display: none;
            }
            h2{
                padding-top: 30px;
                font-size: 40px;
                margin-top: 0px;
            }
        }
    
        background: url("./assets/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 55% -600%;
        background-size: 1200px 950px;
        position: inherit;
        z-index: 99999;
    
        .button-play{
            display: none;
            padding: 0px;
    margin: 0px;
            img{
                height: 481px;
                width: 273px;
            }
            transform: rotate(0deg);
            position: absolute;
            right: 3px;
            bottom: 214px;
        }
        .button-play:hover{
            svg{
                transform: rotate(0deg);
                fill: #ff00ec;
            }
          
           a {
       
              
            }
       
                
        
        }
        .header-block{
               height: auto;
         
    
            h1{
           
            }
        }
        .aboutUs-block-main{
            // font-family: "Montserrat";
            // font-weight: initial;
            justify-content: center;
            height: 50%;
            width: fit-content;
            margin-bottom: 0px;
            padding-top: 0px;
            margin-left: 0px;
            font-size: 17px;
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            padding: 20px 35px;
            
            .main-top{
                padding-top: 10px;
                width: 100%;
                height: 50%;
                padding-left: 0px;
                .main-top-text{
                    height: 40%;;
                    padding-right: 0px;
                    color: white;
                    font-weight: lighter;
                }
            }
            .main-bottom{
                display: block;
                width: 100%;
                height: 40%;
               .main-bottom-text{
                gap: 20px;
                display: flex;
                img {
                   height: 65px;
                    width: 65px;
                    align-items: center;
                }
                .text{
                    width: 70%;
                    p{
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }
                    padding-bottom: 10px;
                    padding-right: 0px;
                    display: flex;
                    color: white;
                }
               }
            }
        }
       }
     
}


