.contact-us-block{
    
    background: url('./assets/bg.png');
    background-size: cover;
  height: fit-content;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: 65px -15px;
    background-repeat: no-repeat;
    object-position: 65px -15px;
    background-position: -3px 10px;
    background-size: 1719px 848px;


    input:-internal-autofill-selected {
        appearance: menulist-button;
        background-image: none !important;
        background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
        color: fieldtext !important;
        background: rgba(127, 133, 158, 0.192);
    }

    input:autofill {
        background: rgba(127, 133, 158, 0.192);
        border: 1px solid darkblue;
    }
    
    .custom-checkbox {
        position: absolute;
        z-index: 1;
        opacity: 0;
      }
      .custom-checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }
      .custom-checkbox+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #eb0ca8;
        border-radius: 0.25em;
        margin-left: 5px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
      .custom-checkbox:checked+label::before {
        border-color:#eb0ca8;
        background-image: url("../ContactUs/assets/vector.svg");
      }
    .contact-us-block-main{
        display: flex;
        height: 500px;
        width: 100%;
        margin-top: 60px;
        .main-left{
            width: 50%;
        }
        .main-right{
            width: 50%;
            .central-form{

                .checkBox-form{
                    letter-spacing: normal;
                    display: flex;
                }
            }
        }
    }
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #adadad;
    font-family: "Montserrat", system-ui;
    padding-top: 10px;
    // text-shadow: 0 0 20px #e9e9e9;
 }

 .text-about{
    margin-left: 100px;
    .text-about-header{
        font-family: "Montserrat", system-ui;
        margin-left: 70px;
    margin-top: -47px;
        color: WHITE;
        width: 85%;
        font-size: 20px;
    
        h2 {
            font-weight: 100;
        }
    }
    .text-about-number{
        font-family: "Montserrat", system-ui;
        margin-left: 180px;
    margin-top: 40px;
    color: WHITE;
    width: 65%;
    font-size: 22px;
    text-shadow: 0 0 20px #ff00ec;
    h1{
        font-weight: 100;
    }
    }
    .text-about-subHeader{
        margin-left: 186px;
        margin-top: 25px;
    color: WHITE;
    width: 65%;
    font-size: 18px;
    font-family: "Montserrat", system-ui;
    h2{
        font-weight: 100;
    }
    }
 }



.main-container {
    min-height: 0vh;
    padding: 82px 0 80px;
  }
  
  .central-form {
    margin-top: -17px;
    h2 {
        color: var(--white);
        letter-spacing: 0.2rem;
        margin-bottom: 20px;
      }
  }
  
  .back-form {
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    margin-bottom: 5px;
    letter-spacing: 0.2rem;
    width: 90%;
    

    .back-form-top{
        display: flex;
        gap: 10px;
        .name-form{
            width: 100%;
            input {
                width: 90%;
                height: 70%;
            }
        }
        .phone-form{
            width: 100%;
            input{
                width: 88%;
                height: 70%;
            }
        }
    }
    .back-form-bottom{
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        .email-form{
            input {
                width: 94%;
                height: 35px;
            }
        }
        .textArea-form{
            textarea{
                height: 200px;
                width: 94%;
            }
        }
    }
    .checkBox-form{
       
      
        color: white;
        gap: 10px;
        font-family: "Montserrat", system-ui;

        a{
            font-weight: 100;
            text-decoration: underline;
    /* font-size: 12px; */
    text-transform: none;
        }
    }
  }
  
  .central-form h4 {
    font-family: "Courier New", Courier, monospace;

    line-height: 1.2;
  }

  
  .main-input,
  .main-textarea {
    // width: 100%;
    outline: none;
    background: rgba(127, 133, 158, 0.192);
    backdrop-filter: blur(19px);
    border: 1px solid rgba(255, 0, 183, 1);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 13px
    ;
    border-radius: 10px;
    transition: 0.3s;
    color: white;
    
  }
  
  .main-textarea:focus {
    border: 1px solid rgba(255, 0, 183, 1);
    // border: 1px solid #aba6ab78;
    background-color: rgba(189, 124, 170, 0.267);
    color:    #adadad;
  }
  
  .main-input:focus {
    background-color: rgba(189, 124, 170, 0.267);
    color:    #adadad;
  }
  
  .send-btn {
    margin-top: 33px;
    display: flex;
    justify-content: center;
    padding-right: 10px;
  }
  
  .col i {
    padding: 7px;
    color: var(--black);
  }
  
  .col i:hover {
    transform: scale(1.5);
  }
  
  @media (min-width: 940px) {
    .back-form {
        margin-top: -14px;
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    .img-back {
      flex: 1;
      align-self: center;
      margin-right: 20px;
    }
    form {
      flex: 0.9;
    }
    @media (max-width: 414px) {
      .central-form h2 {
        font-size: 16px;
      }
    }
  }
  

@media (max-width: 2920px) {
    .modal__content.active{
        width: 30%;
        height: 50%;
        border-radius: 30px;
      }
    .contact-us-page-modal{
      display: flex;
      flex-direction: column;
      gap: 30px;
      height: 100%;
      .contact-us-modal-text{
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .contact-us-modal-text-header{
            color: white;
            font-size: 32px;
              text-shadow: 0 0 20px #ff00ec;
              font-weight: 100;
        }
        .contact-us-modal-text-subHeader{
               color: white;
            font-size: 25px;
            width: 70%;
              text-shadow: 0 0 20px #ff00ec;
             h3{
                 font-weight: 100;
                 text-align: center;
             }

        }
        .contact-us-modal-text-button{
            width: 100%;
            .blue-l{
                width: 100%;
                height: 70px;
                font-size: 30px;
            }
            .blue-l::before{
                display: none;
            }
        }
      }
      .contact-us-page-modal-x{
        display: flex;
        justify-content: end;
        transition: 1s;
        button{
          transition: 1s;
          background: url("./assets/close.png");
          height: 25px;
          object-fit: unset;
          background-size: cover;
          width: 25px;
          border: none;
          background-repeat: no-repeat;
          cursor: pointer;
        }
        button:hover{
          transition: 1s;
          background: url("./assets/close_hover.png");
          height: 25px;
          object-fit: unset;
          background-size: cover;
          width: 25px;
          border: none;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }
      .contact-us-page-modal-video{
        height: inherit;
      }
      iframe{
        width: -webkit-fill-available;
        height: -webkit-fill-available;;
        .ytp-chrome-top-buttons{
          display: none;
        }
      }
    }
    .back-form {
        margin-top: -17px;
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      position: relative;
      justify-content: space-between;
    }
    .contact-us-block {
        .header-block{
           h1{
           }
        }
    }
    .contact-us-block .header-block  h2 {
        transition: 1s;
        font-size: 70px;
        text-align: center;
        margin-top: -182px;
        padding-left: 500px;
        width: 900px;

    }
}

@media (max-width: 1700px) {
    .contact-us-block .header-block h2 {
        transition: 1s;
        font-size: 70px;
        text-align: center;
        margin-top: -167px;
        padding-left: 375px;
        width: 900px;

    }
}



@media (max-width: 1540px) {
  .contact-us-block{
    .modal__content.active{
        width: 30%;
        height: 50%;
        border-radius: 30px;
      }
    .contact-us-page-modal{
      display: flex;
      flex-direction: column;
      gap: 30px;
      height: 100%;
      .contact-us-modal-text{
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .contact-us-modal-text-header{
            color: white;
            font-size: 27px;
              text-shadow: 0 0 20px #ff00ec;
              font-weight: 100;
        }
        .contact-us-modal-text-subHeader{
               color: white;
            font-size: 25px;
            width: 70%;
              text-shadow: 0 0 20px #ff00ec;
             h3{
                 font-weight: 100;
                 text-align: center;
             }

        }
        .contact-us-modal-text-button{
            width: 100%;
            .blue-l{
                width: 100%;
                height: 70px;
                font-size: 30px;
            }
            .blue-l::before{
                display: none;
            }
        }
      }
      .contact-us-page-modal-x{
        display: flex;
        justify-content: end;
        transition: 1s;
        button{
          transition: 1s;
          background: url("./assets/close.png");
          height: 25px;
          object-fit: unset;
          background-size: cover;
          width: 25px;
          border: none;
          background-repeat: no-repeat;
          cursor: pointer;
        }
        button:hover{
          transition: 1s;
          background: url("./assets/close_hover.png");
          height: 25px;
          object-fit: unset;
          background-size: cover;
          width: 25px;
          border: none;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }
    }

    .header-block{
        padding-top: 20px;
        h1{
            font-size: 100px;
        }
        h2{
            margin-top: -174px;
            padding-left: 294px;
        }
       
    }
  }
  .text-about{
    .text-about-header{
       h2{
        font-size: 25px;
       }
    }
    .text-about-number{
        h1{
         font-size: 30px;
        }
     }
     .text-about-subHeader{
        h2{
         font-size: 25px;
        }
     }
}
}


 @media (max-width: 1230px) {
        .contact-us-block .header-block h2 {
            transition: 1s;
            font-size: 70px;
            margin-top: -177px;
            padding-left: 217px;
            width: 770px;
            text-align: center;
        }
    }


    @media (max-width: 1124px) {
        
        .contact-us-block{
            .modal__content.active{
                width: 30%;
                height: 50%;
                border-radius: 30px;
              }
            .contact-us-page-modal{
              display: flex;
              flex-direction: column;
              gap: 30px;
              height: 100%;
              .contact-us-modal-text{
                width: auto;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .contact-us-modal-text-header{
                    color: white;
                    font-size: 27px;
                      text-shadow: 0 0 20px #ff00ec;
                      font-weight: 100;
                      display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
                }
                .contact-us-modal-text-subHeader{
                       color: white;
                    font-size: 25px;
                    width: 70%;
                      text-shadow: 0 0 20px #ff00ec;
                     h3{
                         font-weight: 100;
                         text-align: center;
                     }
        
                }
                .contact-us-modal-text-button{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .blue-l{
                        width: 80%;
                        height: 70px;
                        font-size: 20px;
                    }
                    .blue-l::before{
                        display: none;
                    }
                }
              }
              .contact-us-page-modal-x{
                display: flex;
                justify-content: end;
                transition: 1s;
                button{
                  transition: 1s;
                  background: url("./assets/close.png");
                  height: 25px;
                  object-fit: unset;
                  background-size: cover;
                  width: 25px;
                  border: none;
                  background-repeat: no-repeat;
                  cursor: pointer;
                }
                button:hover{
                  transition: 1s;
                  background: url("./assets/close_hover.png");
                  height: 25px;
                  object-fit: unset;
                  background-size: cover;
                  width: 25px;
                  border: none;
                  background-repeat: no-repeat;
                  cursor: pointer;
                }
              }
            }
            .custom-checkbox {
                position: absolute;
                z-index: 1;
                opacity: 0;
                left: 2;
                margin-top: 13px;
            }
            .header-block{
                padding-top: 20px;
                h1{
                    font-size: 70px;
                }
                h2{
                   font-size: 50px;
                    margin-top: -174px;
                    padding-left: 294px;
                }
               
            }
          }
          .text-about{
            .text-about-header{
               h2{
                font-size: 22px;
               }
            }
            .text-about-number{
                h1{
                    margin-left: -60px;
                 font-size: 25px;
                }
             }
             .text-about-subHeader{
                margin-top: 25px;
                margin-left: 129px;
                h2{
                    font-size: 22px;
                }
             }
        }
        .contact-us-block .header-block h2 {
            transition: 1s;
     
            margin-top: -139px;
            padding-left: 142px;
            width: 770px;
            text-align: center;
        }
    }

@media (max-width: 950px) {
   
    .contact-us-block{
        .modal__content.active{
            width: 30%;
            height: 50%;
            border-radius: 30px;
          }
        .contact-us-page-modal{
          display: flex;
          flex-direction: column;
          gap: 30px;
          height: 100%;
          .contact-us-modal-text{
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .contact-us-modal-text-header{
                color: white;
                font-size: 20px;
                  text-shadow: 0 0 20px #ff00ec;
                  font-weight: 100;
                  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
            }
            .contact-us-modal-text-subHeader{
                   color: white;
                   font-size: 20px;
                width: 70%;
                  text-shadow: 0 0 20px #ff00ec;
                 h3{
                     font-weight: 100;
                     text-align: center;
                 }
    
            }
            .contact-us-modal-text-button{
                width: 100%;
                .blue-l{
                    width: 80%;
                    height: 70px;
                    font-size: 20px;
                }
                .blue-l::before{
                    display: none;
                }
            }
          }
          .contact-us-page-modal-x{
            display: flex;
            justify-content: end;
            transition: 1s;
            button{
              transition: 1s;
              background: url("./assets/close.png");
              height: 25px;
              object-fit: unset;
              background-size: cover;
              width: 25px;
              border: none;
              background-repeat: no-repeat;
              cursor: pointer;
            }
            button:hover{
              transition: 1s;
              background: url("./assets/close_hover.png");
              height: 25px;
              object-fit: unset;
              background-size: cover;
              width: 25px;
              border: none;
              background-repeat: no-repeat;
              cursor: pointer;
            }
          }
        }
        background-position: -3px 15px;
        background-size: 1719px 848px;
        .header-block{
            padding-top: 20px;
            h1{
                font-size: 70px;
            }
            h2{
               font-size: 50px;
                margin-top: -174px;
                padding-left: 294px;
            }
           
        }
      }
      .text-about{
        margin-left: -37px;
        .text-about-header{
           h2{
            font-size: 22px;
           }
        }
        .text-about-number{
            h1{
                margin-left: -60px;
             font-size: 25px;
            }
         }
         .text-about-subHeader{
            margin-top: 25px;
            margin-left: 129px;
            h2{
                font-size: 22px;
            }
         }
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
 
        margin-top: -139px;
        padding-left: 142px;
        width: 770px;
        text-align: center;
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
        font-size: 50px;
        margin-top: -137px;
        padding-left: 41px;
        width: 770px;
        text-align: center;
    }
}

@media (max-width: 822px) {
    .contact-us-block{
        background-position: 0% -100%;
        .modal__content.active{
            width: 30%;
            height: 50%;
            border-radius: 30px;
          }
        .contact-us-page-modal{
          display: flex;
          flex-direction: column;
          gap: 30px;
          height: 100%;
          .contact-us-modal-text{
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .contact-us-modal-text-header{
                color: white;
                font-size: 20px;
                  text-shadow: 0 0 20px #ff00ec;
                  font-weight: 100;
                  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
            }
            .contact-us-modal-text-subHeader{
                   color: white;
                   font-size: 20px;
                width: 70%;
                  text-shadow: 0 0 20px #ff00ec;
                 h3{
                     font-weight: 100;
                     text-align: center;
                 }
    
            }
            .contact-us-modal-text-button{
                width: 100%;
                .blue-l{
                    width: 80%;
                    height: 70px;
                    font-size: 20px;
                }
                .blue-l::before{
                    display: none;
                }
            }
          }
          .contact-us-page-modal-x{
            display: flex;
            justify-content: end;
            transition: 1s;
            button{
              transition: 1s;
              background: url("./assets/close.png");
              height: 25px;
              object-fit: unset;
              background-size: cover;
              width: 25px;
              border: none;
              background-repeat: no-repeat;
              cursor: pointer;
            }
            button:hover{
              transition: 1s;
              background: url("./assets/close_hover.png");
              height: 25px;
              object-fit: unset;
              background-size: cover;
              width: 25px;
              border: none;
              background-repeat: no-repeat;
              cursor: pointer;
            }
          }
        }
        .header-block{
            padding-top: 20px;
            h1{
                font-size: 60px;
            }
            h2{
               font-size: 50px;
                margin-top: -174px;
                padding-left: 294px;
            }
           
        }
      }
      .text-about{
        margin-left: -37px;
        .text-about-header{
           h2{
            font-size: 22px;
           }
        }
        .text-about-number{
            h1{
                margin-left: -60px;
             font-size: 25px;
            }
         }
         .text-about-subHeader{
            margin-top: 25px;
            margin-left: 129px;
            h2{
                font-size: 22px;
            }
         }
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
 
        margin-top: -139px;
        padding-left: 142px;
        width: auto;
        text-align: center;
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
        font-size: 50px;
        margin-top: -137px;
        padding-left: 41px;
        width: 770px;
        text-align: center;
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
        font-size: 50px;
        margin-top: -127px;
        padding-left: 0px;
        width: 769px;
        text-align: center;
    }
}

@media (max-width: 742px) {
    .back-form .back-form-top .name-form {
        width: 100%;
        display: flex;
    }
    .back-form .back-form-top .phone-form {
        width: 100%;
        display: flex;
    }
    .back-form-bottom{
        .email-form{
            display: flex;
        }
        .textArea-form{
            display: flex;
        }
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
        font-size: 40px;
        margin-top: -77px;
        padding-left: 73px;
        width: 567px;
        text-align: center;
    }
}

@media (max-width: 724px) {
    .contact-us-block{
        .contact-us-block-main{
            .main-left{
                width: 35%;
            }
            .main-right{
                width: 60%;
                .back-form{
                    margin-left: 17px;
                    .back-form-top{
                        gap: 28px;
                    }
                }
            }
        }
        background-position: 0% -100%;
        .header-block{
            padding-top: 20px;
            h1{
                font-size: 60px;
            }
            h2{
               font-size: 50px;
                margin-top: -174px;
                padding-left: 294px;
            }
           
        }
      }
      .text-about{
        margin-left: -37px;
        .text-about-header{
            width: 60%;
           h2{
            font-size: 17px;
           }
        }
        .text-about-number{
            margin-left: 130px;
    margin-top: 40px;
            h1{
                margin-left: -60px;
             font-size: 20px;
            }
         }
         .text-about-subHeader{
            margin-top: 25px;
            margin-left: 72px;
            h2{
                font-size: 19px;
            }
         }
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
 
        margin-top: -139px;
        padding-left: 142px;
        width: 770px;
        text-align: center;
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
        font-size: 50px;
        margin-top: -137px;
        padding-left: 41px;
        width: 770px;
        text-align: center;
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
        font-size: 50px;
        margin-top: -127px;
        padding-left: 0px;
        width: 769px;
        text-align: center;
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
        font-size: 35px;
        margin-top: -106px;
        padding-left: -15px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 620px) {
    

     .contact-us-block{
        .modal__content.active{
            width: 30%;
            height: 50%;
            border-radius: 30px;
          }
        .contact-us-page-modal{
          display: flex;
          flex-direction: column;
          gap: 30px;
          height: 100%;
          .contact-us-modal-text{
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .contact-us-modal-text-header{
                color: white;
                font-size: 27px;
                  text-shadow: 0 0 20px #ff00ec;
                  font-weight: 100;
                  display: flex;
justify-content: center;
align-items: center;
text-align: center;
            }
            .contact-us-modal-text-subHeader{
                   color: white;
                font-size: 25px;
                width: 70%;
                  text-shadow: 0 0 20px #ff00ec;
                 h3{
                     font-weight: 100;
                     text-align: center;
                 }
    
            }
            .contact-us-modal-text-button{
                width: 100%;
                display: flex;
                justify-content: center;
                .blue-l{
                    width: 80%;
                    height: 70px;
                    font-size: 20px;
                }
                .blue-l::before{
                    display: none;
                }
            }
  
          .contact-us-page-modal-x{
            display: flex;
            justify-content: end;
            transition: 1s;
            button{
              transition: 1s;
              background: url("./assets/close.png");
              height: 25px;
              object-fit: unset;
              background-size: cover;
              width: 25px;
              border: none;
              background-repeat: no-repeat;
              cursor: pointer;
            }
            button:hover{
              transition: 1s;
              background: url("./assets/close_hover.png");
              height: 25px;
              object-fit: unset;
              background-size: cover;
              width: 25px;
              border: none;
              background-repeat: no-repeat;
              cursor: pointer;
            }
          }
        }
        
        .contact-us-block-main{
            .main-left{
                width: 35%;
            }
            .main-right{
                width: 60%;
                .back-form{
                    margin-left: 17px;
                    .back-form-top{
                        gap: 28px;
                    }
                }
            }
        }
        background-position: 0% -100%;
        .header-block{
            padding-top: 20px;
            h1{
                font-size: 50px;
            }
            h2{
               font-size: 50px;
                margin-top: -174px;
                padding-left: 294px;
            }
           
        }
      }
     }
      .text-about{
        margin-left: -37px;
        .text-about-header{
            width: 60%;
           h2{
            font-size: 17px;
           }
        }
        .text-about-number{
            margin-left: 130px;
    margin-top: 40px;
            h1{
                margin-left: -60px;
             font-size: 20px;
            }
         }
         .text-about-subHeader{
            margin-top: 25px;
            margin-left: 72px;
            h2{
                font-size: 19px;
            }
         }
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
        font-size: 40px;
        text-align: center;
        margin-top: -127px;
        width: 370px;
        padding-left: 108px;
    }
}

@media (max-width: 561px) {
    .contact-us-block{
        .modal__content.active{
            width: 50%;
            height: max-content;
            border-radius: 30px;
          }
        .contact-us-page-modal{
          display: flex;
          flex-direction: column;
          gap: 30px;
          height: 100%;
          .contact-us-modal-text{
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .contact-us-modal-text-header{
                color: white;
                font-size: 20px;
                  text-shadow: 0 0 20px #ff00ec;
                  font-weight: 100;
                  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
            }
            .contact-us-modal-text-subHeader{
                   color: white;
                   font-size: 20px;
                width: 70%;
                  text-shadow: 0 0 20px #ff00ec;
                 h3{
                     font-weight: 100;
                     text-align: center;
                 }
    
            }
            .contact-us-modal-text-button{
                width: 100%;
                .blue-l{
                    width: 80%;
                    height: 70px;
                    font-size: 20px;
                }
                .blue-l::before{
                    display: none;
                }
            }
          }
          .contact-us-page-modal-x{
            display: flex;
            justify-content: end;
            transition: 1s;
            height: max-content;
            button{
              transition: 1s;
              background: url("./assets/close.png");
              height:30px;
              object-fit: unset;
              background-size: cover;
              width: 30px;
              border: none;
              background-repeat: no-repeat;
              cursor: pointer;
            }
            button:hover{
              transition: 1s;
              background: url("./assets/close_hover.png");
              height:30px;
              object-fit: unset;
              background-size: cover;
              width: 30px;
              border: none;
              background-repeat: no-repeat;
              cursor: pointer;
            }
          }
        }
        .contact-us-block-main{
            
            margin-top: 72px;
            display: flex;
            flex-direction: column;
            height: fit-content;
            .main-left{
                width: 100%;
            }
            .main-right{
                margin-top: 44px;
                width: 100%;
                .back-form{
                    margin-left: 0px;
                    width: 100%;
                    justify-content: center;
                    .back-form-top{
                        gap: 28px;
                    }
                }
            }
        }
        background: url("./assets/anime-girl.png");
        background-repeat: no-repeat;
        background-position: -409% -2%;
        padding: 20px 0px;
        .header-block{
            padding-top: 0px;
            h1{
                padding-top: 10px;
                font-size: 30px;
            }
            h2{
               font-size: 53px;
               margin-top: -108px;
                padding-left: 294px;
            }
           
        }
      }
      .text-about{
        margin-left: -37px;
        .text-about-header{
            padding: 0 20px;
            width: 70%;
            text-align: inherit;
           h2{
            font-size: 15px;
           }
        }
        .text-about-number{
            margin-top: 26px;
    margin-top: 40px;
    margin-left: 0px;
            h1{
                margin-left: 89px;
             font-size: 20px;
            }
         }
         .text-about-subHeader{
            margin-top: -5px;
            padding-left: 18px;
            h2{
                font-size: 15px;
            }
         }
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
        font-size: 40px;
        text-align: center;
        margin-top: 0px;
        width: auto;
        padding-left: 0px;
        padding-top: 0px;
    }
}

@media (max-width: 500px) {
    .contact-us-block{
  height: max-content;
  padding: 39px 0px;
  
        .contact-us-block-main{
            flex-direction: column;
            margin-top: 60px;
            margin-left: 0px;
            justify-content: center;
            align-items: center;
            .main-left{
                width: 100%;
            }
            .main-right{
                margin-top: 44px;
                width: 100%;
                .back-form{
                    margin-left: 0px;
                    .back-form-top{
                        gap: 28px;
                    }
                }
            }
        }
        .header-block{
            padding-top: 20px;
            h1{
                font-size: 30px;
            }
            h2{
               font-size: 53px;
               margin-top: -89px;
                padding-left: 294px;
            }
           
        }
      }
      .text-about{
        margin-left: -37px;
        .text-about-header{
            padding-left: 0px;
            width: 70%;
            text-align: start;
           h2{
            font-size: 15px;
           }
        }
        .text-about-number{
            margin-top: 26px;
    margin-top: 40px;
    margin-left: 0px;
            h1{
               margin-left: 68px;
             font-size: 20px;
            }
         }
         .text-about-subHeader{
            margin-top: -5px;
            padding-left: 0px;
            h2{
                font-size: 15px;
            }
         }
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
        font-size: 35px;
        text-align: center;
        margin-top: -101px;
        width: 370px;
        padding-left: 53px;
    }
}


@media (max-width: 430px) {
    .contact-us-block{
        .custom-checkbox {
            position: absolute;
            z-index: 1;
            opacity: 0;
            left: 2;
            margin-top: 13px;
            margin-left: 10px;
        }
        .custom-checkbox + label {
            font-size: 20px;
        }
      height: fit-content;
      padding: 58px 0px;
      background: url("./assets/anime-girl.png");
      background-repeat: no-repeat;
      background-position: 97px 162px;
        .contact-us-block-main{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .main-left{
                width: 100%;
            }
            .main-right{
                margin-top: 44px;
                width: 89%;
                .central-form{
                    .checkBox-form{
                        align-items: center;
                        font-size: 11px;
                    }
                }
                .back-form{
                    margin: 0 auto;
               input, textarea {
                font-size: 15px;
               }
                    .back-form-top{
                        gap: 28px;
                        .name-form{
                            display: flex;
                        }
                        .phone-form{
                            display: flex;
                        }
                    }
                    .back-form-bottom{
                        .email-form{
                            display: flex;
                        }
                        .textArea-form{
                            display: flex;
                        }
                    }
                }
                .send-btn{
                    padding-left: 0px;
                    padding-right: 0px;
                    justify-content: center;
    align-items: center;
                }
            }
        }
        .header-block{
           padding-top: 41px;
            h1{
                display: none;
                font-size: 30px;
            }
            h2{
               font-size: 53px;
               margin-top: -89px;
                padding-left: 294px;
            }
           
        }
      }
      .text-about{
        margin: 0 40px;
        .text-about-header{
            margin-left: 0px;
            width: 100%;
            text-align: inherit;
           h2{
            font-size: 15px;
           }
        }
        .text-about-number{
            margin-top: 16px;
            margin-left: 0px;
            h1{
               margin-left: 0px;
             font-size: 20px;
            }
         }
         .text-about-subHeader{
            width: 100%;
            margin-top: -5px;
            margin-left: 0px;
            h2{
                font-size: 15px;
            }
         }
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
        font-size: 35px;
        text-align: center;
        margin-top: -101px;
        width: 370px;
        padding-left: 53px;
    }
    .contact-us-block .header-block h2 {
        transition: 1s;
        font-size: 45px;
        text-align: center;
        margin-top: -92px;
        width: auto;
        padding-left: 0px;

    }
}

