.comments-block {
  .swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    color: deeppink;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 100px;
  right: auto;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 100px;
  left: auto;
}
  background-image: url("./assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: 65px -15px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: max-content;
  @media (max-width: 2340px) {
    .swiper {
      width: 100%;
      padding-bottom: 50px;
      height: fit-content;
    }
    
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: fit-content;
      height: fit-content;
    }
    
    .swiper-slide img {
      display: block;
      width: 100%;
    }
.comments-block-header {
  font-family: "Montserrat", system-ui;
  width: 1000px;
  text-align: center;
  /* display: grid; */
  margin: 0 auto;
  .comments-block-side-info {
    color: white;
    font-size: 20px;
    font-family: "Montserrat", system-ui;
    width: 35vw;
    margin: 0 auto;
  }
}
.comments-block-main {
  display: flex;
    justify-content: center;
    height: 100%;
    height: 100%;
    width: 100%;
  .comments-block-main-carousel {
 
      --pink: rgb(235, 12, 168);
      --white: #f9f9f9;
      --black: #36383f;
      --grey: #85888c;
      --swiper-theme-color: #007aff;
      -webkit-font-smoothing: antialiased;
      font-family: "Poiret One", "sans-serif";
      position: relative;
      overflow: hidden;
      list-style: none;
      z-index: 1;
      touch-action: pan-y;
      width: 100%;
    .swiper{
      .swiper-wrapper{
          .swiper-slide.swiper-slide-visible.swiper-slide-prev{
            // width: 500px;
            // height: 700px;
      }
      .swiper-slide.swiper-slide-visible.swiper-slide-active{
        // width: 330px;
        //       height: 700px;
  }
  .swiper-slide.swiper-slide-visible.swiper-slide-next{
      // width: 500px;
      //     height: 700px;
}
      
    }
    .carousel-item {
      
      background: rgba(255, 255, 255, 0.192);
      backdrop-filter: blur(10px);
      border-radius: 15px;
      border: 1px solid rgba(43, 43, 43, 0.568);
      background: rgba(255, 255, 255, 0.192);
    height: 70%;
    width: fit-content;
    padding: 23px;
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
      .carousel-item-top {
          height: 120px;
        display: flex;
        justify-content: center;
        img {
          height: 170px;
          width: 170px;
          position: relative;
          /* top: 10px; */
          bottom: 54px;
        }
      }
      .carousel-item-mid {
          // margin-bottom: 20px;
        display: block;
        p {
          margin-block-end: 0.3em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          margin-block-start: 0.3em;
        }
        .header {
          color: white;
          font-size: 50px;
          font-family: "Montserrat", system-ui;
          display: flex;
          justify-content: center;
        }
        .subHeader {
          color: white;
          display: flex;
          justify-content: center;
        }
      }
    }
    .carousel-item-bot {

      img{
        height: 634px;
        width: 293px;
        object-fit: contain;
      }
      p{
          margin-block-start: 0em;
          margin-block-end: 0em;
      }
      font-size: 20px;
      width: max-content;
      margin: 10 auto;
      height: fit-content;
      color: white;
      border: 3px solid pink;
    }
  }
}
}
  }
  @media (max-width: 420px) {
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
      left: 100px;
      right: auto;
      top: 635px;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
      right: 100px;
      left: auto;
      top: 635px;
    }
    .swiper {
      width: 100%;
      padding-bottom: 50px;
      height: fit-content;
    }
    
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: fit-content;
      height: fit-content;
    }
    
    .swiper-slide img {
      display: block;
      width: 100%;
    }
.comments-block-header {
  font-family: "Montserrat", system-ui;
  width: fit-content;
  text-align: center;
  /* display: grid; */
  margin: 0 auto;
  .header-block{
    padding-top: 20px;

    h1{
      display: none;
    }
    h2{
      margin-top: -70px;
      font-size: 60px;
    }
  }
  .comments-block-side-info {
    color: white;
    font-size: 17px;
    font-family: "Montserrat", system-ui;
    width: fit-content;
    margin: 0px;
    padding: 0px 10px;
    p{
      margin-block-end: 2em;
    }
  }
}
.comments-block-main {
  display: flex;
    justify-content: center;
    height: 100%;
    height: 100%;
    width: 100%;
  .comments-block-main-carousel {
 
      --pink: rgb(235, 12, 168);
      --white: #f9f9f9;
      --black: #36383f;
      --grey: #85888c;
      --swiper-theme-color: #007aff;
      -webkit-font-smoothing: antialiased;
      font-family: "Poiret One", "sans-serif";
      position: relative;
      overflow: hidden;
      list-style: none;
      z-index: 1;
      touch-action: pan-y;
      width: 100%;
    .swiper{
      .swiper-wrapper{
          .swiper-slide.swiper-slide-visible.swiper-slide-prev{
            // width: 500px;
            // height: 700px;
      }
      .swiper-slide.swiper-slide-visible.swiper-slide-active{
        // width: 330px;
        //       height: 700px;
  }
  .swiper-slide.swiper-slide-visible.swiper-slide-next{
      // width: 500px;
      //     height: 700px;
}
      
    }
    .carousel-item {
      
      background: rgba(255, 255, 255, 0.192);
      backdrop-filter: blur(10px);
      border-radius: 15px;
      border: 1px solid rgba(43, 43, 43, 0.568);
      background: rgba(255, 255, 255, 0.192);
    height: 70%;
    width: fit-content;
    padding: 23px;
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
      .carousel-item-top {
          height: 120px;
        display: flex;
        justify-content: center;
        img {
          height: 170px;
          width: 170px;
          position: relative;
          /* top: 10px; */
          bottom: 54px;
        }
      }
      .carousel-item-mid {
          // margin-bottom: 20px;
        display: block;
        p {
          margin-block-end: 0.3em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          margin-block-start: 0.3em;
        }
        .header {
          color: white;
          font-size: 50px;
          font-family: "Montserrat", system-ui;
          display: flex;
          justify-content: center;
        }
        .subHeader {
          color: white;
          display: flex;
          justify-content: center;
        }
      }
    }
    .carousel-item-bot {

      img{
        height: 634px;
        width: 293px;
        object-fit: contain;
      }
      p{
          margin-block-start: 0em;
          margin-block-end: 0em;
      }
      font-size: 20px;
      width: max-content;
      margin: 10 auto;
      height: fit-content;
      color: white;
      border: 3px solid pink;
    }
  }
}
}
  }
}